.vs
*.swp
*.log
tmp
.idea
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
src/.vs/
local
docs
.vscode
logs
TestResults.xml
/bamboo-ci.local.sh
report
runtests.sh
coverage
/clover.xml
/bamboo-test.sh
/delayed-kill.sh
/kill.sh
/mongo.sh


/tempDocs/cmd-excec.plantuml
*.received.*